@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
}
.tela-esquerda{
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: #77ffc0;
}
.tela-esquerda h1{
    font-size: 3vw;
    color: #77ffc0;
}
.tela-direita{
    display: flex;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #77ffc0;
}
.card{
    width: 60%;
    background: #2f2841;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    border-radius: 30px;

}
.card input{
    width: 100%;
    box-shadow: 0px 10px 40px #00000056;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background: #514869;
    outline: none;
    box-sizing: border-box;
}
.card label{
    margin-bottom: 3px;
    color: aliceblue;
}
.card input{
    margin: 10px 0px;
}

.card input::placeholder{
    color: #f0ffff94;
}

#botao-login{
    width: 100%;
    padding: 10px 0px;
    margin: 25px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing:3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.imagem{
    width: 50vw;
    height: 600px;
}

@media only screen and (max-width:950px){
    .card{
        width: 85%;
    }
}
@media only screen and (max-width:600px){
    .main-login{
        flex-direction: column;
    }
    .tela-esquerda{
        display: flex;
        width: 100vw;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tela-direita{
        display: flex;
        width: 100vw;
        height: auto;
        justify-content: center;
        align-items: center;
        color: #77ffc0;
    }
    .tela-esquerda h1{
        display: none;
    }
    .imagem{
        height: 300px;
        width: 70vw;
    }
    .card{
        width: 70%;
    }
}

